/* src/components/BecomeACCA.css */
.become-acca {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: #ecf0f1; /* Softer background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  animation: fadeInLeft 1s ease-in-out;
}

.become-acca .acca-card {
  flex: 0.2; /* Decreased width */
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.become-acca .call-back {
  flex: 0.6; /* Increased width */
  margin: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.become-acca .call-back h3 {
  color: #2c3e50; /* Darker text color for contrast */
}

.become-acca .call-back form {
  display: flex;
  flex-direction: column;
}

.become-acca .call-back form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.become-acca .call-back form input:focus {
  border-color: #18bc9c; /* Accent color for input focus */
  box-shadow: 0 0 5px rgba(24, 188, 156, 0.5);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stat-item {
  background-color: #18bc9c; /* Accent background color */
  padding: 20px; /* Increased padding */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff; /* White text color for contrast */
}
